{% extends "content/base.html" %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="lead-form bg-light p-4 rounded border">
    <h4 class="mb-3">Регистрация</h4>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="mb-3">
        {{ form.username.label_tag }}<br>
        {{ form.username }}
        {{ form.username.errors }}
      </div>

      <div class="mb-3">
        {{ form.email.label_tag }}<br>
        {{ form.email }}
        {{ form.email.errors }}
      </div>

      <div class="mb-3">
        {{ form.password1.label_tag }}<br>
        {{ form.password1 }}
        {{ form.password1.errors }}
      </div>

      <div class="mb-3">
        {{ form.password2.label_tag }}<br>
        {{ form.password2 }}
        {{ form.password2.errors }}
      </div>

      <div class="mb-3">
        {{ form.captcha.label_tag }}<br>
        {{ form.captcha }}
        {{ form.captcha.errors }}
      </div>

      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="agree" name="agree" required checked>
        <label class="form-check-label" for="agree">
          Отправляя форму, вы соглашаетесь с 
          <a href="{% url 'privacy_policy' %}">Политикой конфиденциальности</a>, 
          <a href="{% url 'terms_conditions' %}">Условиями обработки персональных данных</a> и использованием cookie.
        </label>
      </div>

      <button type="submit" class="btn btn-warning mb-4">Зарегистрироваться</button>
    </form>
  </div>
</div>

{% endblock %}
