SECRET_KEY=replace_me
DEBUG=false
ALLOWED_HOSTS=tentoriumrb.ru,localhost,127.0.0.1
# DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/DBNAME

# Email (по желанию)
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=smtp.example.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=
# EMAIL_USE_TLS=true
